[2016-06-14 19:54] Trevoke opened #1 "Fail to install"
Here's the error log:

I'm not entirely certain which part of my stack it doesn't support.

[2016-06-15 06:28] gustavnikolaj commented on #1
I'm very certain that this is not related to react-truncate. We are not mentioning anything about dependencies or peer dependencies in the package.json file (which might very well be a problem - but an unrelated one :-)).

From looking at the output it seems that `react-ellipsify` is the cause of your problem, as it requires a version of react higher than 0.13 and lower than 1.0.

[2016-06-15 06:28] #1 closed

[2016-06-15 06:30] gustavnikolaj opened #2 "Add built files to gitignore"
It feels wrong to commit build artifacts to version control :-)

If we add `lib` to `.gitignore` it will still be there when we publish the npm package, but not be in the repo.

[2016-06-15 06:31] gustavnikolaj opened #3 "Add peer dependency on supported react versions"
When replying to issue #1 I noticed that we didn't have a `peerDependency` on the react.

[2016-06-15 13:33] Trevoke commented on #1
I'm terribly sorry, that was a side effect of react-ellipsify failing to install but not failing cleanly (I tried seven or eight packages and admittely only decided to open issues on them when I realized that none of them worked cleanly).

react-truncate did work, though I have a problem with it and will open an issue about it now.

[2016-06-15 13:39] Trevoke opened #4 "Text generated is "too long""
Here is a screenshot of what I mean - you can see that on the original load, using a mobile device tool on Chrome, the text goes too far. (it should be aligned, to the left and to the right, with the blue bar underneath).

![screenshot from 2016-06-15 09-35-57](https://cloud.githubusercontent.com/assets/67913/16081694/9a241684-32dc-11e6-9be2-ad7ed14ba57c.png)

Fun fact, if I turn off the mobile de

[2016-06-15 14:48] PabloSichert commented on #4
Thank you for the screenshots - from your description I assume that re-sizing the window (without toggling chrome device mode) also results in re-rendering and correctly truncating the text, is that correct?

It would be helpful to know which children you provided to the component. Does the child re-render while `<Truncate>` has been mounted already, for example by fetching its text-content asynch

[2016-06-15 15:22] Trevoke commented on #4
There were no errors in the console, and no children were passed to the component, just jsx-interpolated text ( `props.foo` )

If I don't toggle chrome device mode, then resizing the window won't do anything, since it's set to the mobile width -- and my use case is mobile devices, so I didn't try on a regular browser window.

[2016-06-15 15:23] Trevoke commented on #4
I have moved on to another module, react-ellipsify, that provided the desired behavior along with the text-expansion feature I desired, so my available time to help you troubleshoot has unfortunately been cut short for the time being.

[2016-06-17 07:48] PabloSichert commented on #4
Having revealed this bug is helpful anyway - so thanks for the contribution :sun_with_face:

I have found an explanation for the observed behavior:
- Pages that are not optimized for mobile get enhanced with an "text inflating algorithm" aka "font boosting", if not prevented
- Chrome Device Mode emulates rendering on a mobile device and triggers said behavior

Why is this causing trouble with reac

[2016-06-17 07:55] PabloSichert commented on #4
Here you have a [gist](https://gist.github.com/PabloSichert/ca3e7cda3bccdcc3fd7b3983f07c777d) for an example `<ReadMore>` component that wraps `<Truncate>`

[2016-06-17 07:57] #4 closed

[2016-06-17 10:12] #2 closed

[2016-06-27 15:53] #3 closed

[2016-07-06 12:46] Lapixx opened #6 "Unknown props `lines`, `ellipsis` on <span> tag"
React `15.2.0` emits warnings for unrecognised properties passed to native DOM elements (facebook/react#6800), which happens quite frequently when passing properties down a child component with `{ ...this.props }`.

React-truncate seems to be doing the same thing:

[code]

[2016-07-06 13:00] #6 closed

[2016-07-12 15:06] codejet opened #8 "html tags in children"
This is not really an issue but rather a question.

In your documentation for the "children" property it says "Anything that can be evaluated as text." and you list examples including markup. I've seen that you are using `textContent` to extract the plain text from what's being passed in as children.
What do you think about preserving at least some markup, like a set of allowed tags? I know that i

[2016-07-12 16:00] PabloSichert commented on #8
That's an interesting question, I guess you are talking about preserving something like `<b>`, `<i>`, and `<u>` tags - would it be possible that you provide the particular scenario that you have in mind?

It might be possible to work out a solution with a combination of `textContent`, `innerHTML` and `childNodes`.

Iterating over the child nodes, and appending them unmodified when the text content

[2016-07-13 07:45] codejet commented on #8
Thanks for the fast reply @PabloSichert

As we all know, time is usually the issue :) But should I find some this weekend or so, I will see what I can do. Can't promise anything though...

[2016-07-13 07:45] #8 closed

[2016-07-15 08:21] PabloSichert commented on #8
Digging around a bit, I found out about the [`Range`](https://developer.mozilla.org/en-US/docs/Web/API/Range) API.

Making use of [`Range.extractContents()`](https://developer.mozilla.org/en-US/docs/Web/API/Range/extractContents) could be feasible.

Selecting the nodes accordingly and modifying a node, when the end lies within a non-text node could be tricky. Haven't tried yet.

[2016-08-17 11:57] PabloSichert opened #11 "Component Not Updating When New Children Are Passed In"
Thank you, @TymchenkoOleksandr, for unveiling this problem.

See issue description in #10.

[2016-08-17 12:17] #11 closed

[2016-08-17 14:17] TymchenkoOleksandr commented on #11
Thank you for the fix.

[2016-09-21 16:11] moimikey opened #15 "unable to use with `map`"
[code]

fails for me :(

[2016-09-21 16:31] PabloSichert commented on #15
[code]

works fine for me.

Could you provide some additional info:
- Which version of `react-truncate` are you using?
- How is your `map` function defined (`Array.prototype.map`?)
- What does `get(event, "attachments")` return?
- What kind of DOM element does `<Attachment>` return?

For that matter, could you do
[code]

and paste the output here?

[2016-09-21 17:06] moimikey commented on #15
@PabloSichert well i'm silly. this is my own problem. i looked at the source code and took notice that it is genuinely just for text nodes. i'm making an attempt to map over a component that returns html.

thanks for the thorough response.

to follow-up, what do you think the likelihood is of having the ability to truncate components wholely vs text nodes. is it worth a PR? in my case, i've got *n

[2016-09-21 18:31] PabloSichert commented on #15
No worries :-)

There has been a similar feature request https://github.com/One-com/react-truncate/issues/8.

I had some ideas on how to implement a solution that works for any node, but don't have an overall plan yet. Also, can't promise any schedule for this feature until we need it in production.

Closing this for now.

-

As a solution for your use case, wouldn't something like this work?

[co

[2016-09-21 18:31] #15 closed

[2016-09-29 15:53] santiagoRebella opened #16 "text is broken wrongly and randomly with webpack"
I want 4 lines for example and i get 5 with an extra one with the ellipsis, the div around is just to see if it was that but the issue remains

[code]

Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
Lorem ipsum dolor sit amet,
Lorem ipsum dolor sit amet,
Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
consectetur adipiscing elit. Duis dui
…

something like that im getting, and is ki

[2016-09-29 16:35] PabloSichert commented on #16
I'm missing a bit of a context here to figure out where the problem might be.

Could you provide some additional information about:
- What's the exact value of `titleToTruncate`? (If it's a component, what kind of render output does it produce, or if a plain string, the full string)
- Print `window.getComputedStyle(document.querySelector('h2.title'))` and paste it here
- A screenshot of that scena

[2016-09-29 17:19] santiagoRebella commented on #16
Hi Pablo, thanks for your quick reply, some context:
title is a string passed through prop to the component that has the react-truncate, the string is

the getComputedStyle gives:
`
window.getComputedStyle(document.querySelector('.blabla__title'));
CSSStyleDeclaration {0: "animation-delay", 1: "animation-direction", 2: "animation-duration", 3: "animation-fill-mode", 4: "animation-iteration-count",

[2016-09-29 17:25] santiagoRebella commented on #16
![screenshot from 2016-09-29 14-24-09](https://cloud.githubusercontent.com/assets/6036570/18964737/9069a3e4-8650-11e6-9439-7152b1a7605f.png)

[2016-09-29 17:32] santiagoRebella commented on #16
the style is

.blabla{
    padding: 12px;
    overflow: auto;

    &__title {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 28px;
    }
}

[2016-09-29 17:40] santiagoRebella commented on #16
![screenshot](https://cloud.githubusercontent.com/assets/6036570/18965209/9d8b2cd0-8652-11e6-98de-9688a660a172.png)

another screenshot as is randomic, weird

[2016-09-29 17:52] PabloSichert commented on #16
Thank you for the context :-)

This seems to be either related to the font size or the `overflow: auto;`.

When the component mounts it renders the full children, then figures out how much space it can use and then renders the truncated version. If you don't have a scroll bar when you mount the component but have a scroll bar once the component is done rendering, there would be some ~`17px` (width

[2016-09-29 17:53] santiagoRebella commented on #16
nope, desktop

[2016-09-29 17:57] santiagoRebella commented on #16
i replaced the overflow with hidden and is the same, just to give you another clue, when i open the inspector (and resizes) renders correctly, so i guess is related with the first mount/calculation

[2016-09-29 18:14] PabloSichert commented on #16
That's some valuable information.

Could you open `$<your-editor> ./node_modules/react-truncate/lib/Truncate.js` and paste in
[code]

between [those lines](https://github.com/One-com/react-truncate/blob/master/src/Truncate.js#L244)? (The code looks slightly different after having gone through babel - just find a line in the render method where `target` is already defined).

To not clutter the cons

[2016-09-29 18:23] santiagoRebella commented on #16
number doesnt change, logs 304 all the time, before and after resizing but is still rendered incorrect at the beggining and correct after resize

[2016-09-29 18:29] PabloSichert commented on #16
Okay.

Then I'm pretty sure it's about the font.

Could it be that a custom font is not loaded yet at the first render?

[2016-09-29 18:35] santiagoRebella commented on #16
ill be back to you, diagnosing now, seems you are right...

[2016-09-29 18:48] PabloSichert commented on #16
If this was the cause, it would be a pretty hard problem to solve within this module.

I could do some arbitrary canvas checks before and after rendering and see if they give the same width. However, this would also not guarantee that it works 100% of the time, just reduce the probability of failure.

My advise here is to put your stylesheet into the page head and block page rendering until it's d

[2016-09-29 19:03] santiagoRebella commented on #16
if I put `style={{fontFamily: 'Verdana'}} `in the title tag or in the title class i get as screenshot below, still not correct for a `lines={4}` , but it doesnt changes on resize.
![newformat](https://cloud.githubusercontent.com/assets/6036570/18967590/2adf3186-865c-11e6-8dad-a3eb38ca539a.png)

If i dont and leave as I have i get first
![formatbad](https://cloud.githubusercontent.com/assets/603657

[2016-09-29 19:24] PabloSichert commented on #16
If you don't need to be able to resize the container, you can add a css rule like that:

[code]

Of course the line breaks will still be calculated wrong, but at least the lines will have the same width and are aligned (and hopefully not break out of your design).

Thank you for reporting anyway, I am sure other people might bump into that as well.

--

Closing this issue since this is out of the

[2016-09-29 19:24] #16 closed

[2016-09-29 19:28] santiagoRebella commented on #16
Thanks Pablo for your help, very much!

[2016-10-07 16:36] ptondereau opened #17 "Cannot import babel helper"
Hello!

When I try to use your component on my React project, it throws an error:

[code]

`package.json`:

[code]

`.babelrc`:

[code]

[2016-10-07 17:14] PabloSichert commented on #17
Did you by chance switch around node or npm versions - could you try `rm -rf node-modules && npm install`?

[2016-10-07 17:44] ptondereau commented on #17
Yes i checked...

I try to reinstall several time but no change  :/

[2016-10-09 15:58] PabloSichert commented on #17
I found the error - the `transform-runtime` babel plugin put some dependencies into the bundled code that were only needed for development.

Fixed as of `v1.1.5`.

Thank you for reporting this! :sun_with_face:

[2016-10-09 15:58] #17 closed

[2016-10-09 16:13] ptondereau commented on #17
sweet 👍many thanks

[2016-10-14 17:00] DiegoZoracKy opened #18 "line break is not being maintained"
If the text contains some kind of line break (\n, <br/> or other block-level element), it is not being maintained, and we are ending up with a text in only one line.

[2016-10-14 17:47] PabloSichert commented on #18
Correct, those are currently not handled.

I will let you know when I have progressed on that, might be this weekend.

[2016-10-17 15:34] PabloSichert commented on #18
Landed and available in `v2`.

Please note that for consistency only `<br/>` tags trigger newlines and you might need to map your plain text source from `\n` to `<br/>`.

[2016-10-17 15:34] #18 closed

[2016-11-15 14:43] yoadsn opened #23 "Toggling truncation off hides all text"
Hello,
Perhaps I misunderstood the documentation but I have made sure to re-read it including the relevant source code.
For some reason, when setting `lines` to a falsy values or value < 1 all text is hidden.
I have created this short example to demonstrate:

http://www.webpackbin.com/Vywx9ZEZf

I figured this could be caused by a change introduced not long ago on #21 - Where this change to the `r

[2016-11-15 14:54] PabloSichert commented on #23
You are correct in your assumptions an this is indeed a bug. I assume I introduced this regression in https://github.com/One-com/react-truncate/pull/21.

Will keep you updated on the progress - thanks for reporting!

[2016-11-16 09:11] PabloSichert commented on #23
Fixed as of `v2.0.2`.

[2016-11-16 09:11] #23 closed

[2016-11-21 11:00] sulliedjar opened #25 "Exception when text width is equal to parent container width"
Hello,

I have found a little bug that makes Truncate component break when the text width is equal to the parent container width.

In getLines() method, the line text width is measured and compared with container width. If text width is equal or greater than container the text is broken in multiple lines:

[code]

However, when the library try to determine when the line breaks, it repeats the same

[2016-11-23 13:56] PabloSichert commented on #25
Thank you for reporting!

Fixed in `v2.0.3` with 27a80c7.

[2016-11-23 13:56] #25 closed

[2016-11-23 20:49] t1mmen commented on #8
Is this still being considered? I'd love HTML support (or at the very least, _some_ sort of markup passthrough)

[2016-11-23 21:54] PabloSichert commented on #8
Working out a solution would mean investing a considerate amount of time - and unfortunately I didn't have a use case that would have justified the time for me.

I think https://github.com/glinford/ellipsis.js made it work, but I didn't get to review yet how it's implemented and what the performance implications would be.

If you want to contribute by porting that feature, I would very welcome it.

[2016-12-18 07:27] SepiaGroup opened #26 "ReadMore sample code issue"
the sample code has an issue:

the state is set as

`this.state = {};`

but this will default to 1 line since

`lines={this.state.readMore && lines}`

will always be false.

i fixed this and added a read more/less toggle

nice control btw saved me a ton of time thx.

`import React, {Component, PropTypes} from 'react';
import Truncate from 'react-truncate';

class ReadMoreText extends Component {

[2016-12-19 10:54] PabloSichert commented on #26
Thank you, fixed the sample code and added a [demo](http://www.webpackbin.com/4kYhZjgVf).

[2016-12-19 10:54] #26 closed

[2016-12-27 11:59] Param-Harrison opened #27 "Code having memory leak, it is beign rerendered again and again"
Simple way to debug this,
Put a console.log  inside render method, it will be called every second continuously which causes the browser tab to go unresponsive after some point.

[2016-12-27 15:03] PabloSichert commented on #27
Could you provide more info about how you used the component and which props you gave it?

[2016-12-27 20:21] Param-Harrison commented on #27
Hey actually, the <ReadMore /> component snippet is causing the memory leak, not in the Truncate library.

Example, if we pass onTruncate function through ReadMore, it causes memory leak. It continuously calling the same function again and again.

[2016-12-28 13:23] PabloSichert commented on #27
Thanks! Fixed the demo.

[2016-12-28 13:23] #27 closed

[2017-01-06 20:12] unyo commented on #16
Suggested fix: Use font-family: 'Custom Font', 'Courier New', sans-serif in order to prevent the weird line breaking when the custom font is loaded and increases in width, as Truncate works before the font loads. Courier New will need to be wider than the custom font.

[2017-01-13 00:12] atomiccupcake opened #28 "When letter-spacing is used, calculations are incorrect"
I was having the same behavior described in https://github.com/One-com/react-truncate/issues/16, but while using web-safe font families. It turns out that when the css letter-spacing property is used, the component calculates it has room for more letters than it actually has room for.

It would be great if it could account for the pixels between letters. Thanks!

letter-spacing: 1px;
![image](http

[2017-01-13 19:42] #28 closed

[2017-01-13 19:47] PabloSichert commented on #28
Hey, thanks for the fix! :sun_with_face:

Released in `v2.0.4`

[2017-01-14 00:44] atomiccupcake commented on #28
No problem! Thanks for the speedy merge!

On Fri, Jan 13, 2017, 12:47 PM Pablo Sichert <notifications@github.com>
wrote:

[2017-01-24 15:53] namjul opened #30 "2.0.4 breaks measureWidth"
I started using this great lib today but had a problems with it by not truncating to specified lines. It always truncated to more lines. I figured it this does not happen in 2.0.3.
When i revert the change made here: https://github.com/One-com/react-truncate/pull/29/commits/324d1bf7672245c30dc8d70a4fe1d88d27ea2629 it works again.

[2017-01-24 16:14] PabloSichert commented on #30
Could you provide me with information about
- which font-related CSS rules are applied to your truncated text
- does `npm test` succeed locally for both revisions
- screenshots

So I can help figuring out where the problem might be

[2017-01-25 08:37] namjul commented on #30
The test are working in master and v2.0.3
Here a gif with 2.0.4:
![output](https://cloud.githubusercontent.com/assets/328836/22283229/55d4510a-e2e1-11e6-9123-cceaa35b8c69.gif)
2.0.3:
![output2](https://cloud.githubusercontent.com/assets/328836/22283243/6abc9758-e2e1-11e6-8340-b7165c9682f4.gif)
The sample text has no styles applied.

[2017-01-25 13:29] PabloSichert commented on #30
You are right, that commit 324d1bf is indeed faulty - which I'm going to revert on master.

The canvas [`context.font`](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/font) API does not expect a letter spacing / word spacing argument.

Looks like [this](http://stackoverflow.com/a/40469992) might be a viable workaround.

[2017-01-25 13:38] #30 closed

[2017-01-25 14:40] namjul commented on #30
Thx for your fast response.

[2017-02-10 01:38] wjljack opened #31 "plz support dangerouslySetInnerHTML"
thx

[2017-02-10 07:43] PabloSichert commented on #31
Please see https://github.com/One-com/react-truncate/issues/8. Contributions welcome.

[2017-02-10 07:43] #31 closed

[2017-02-20 16:23] drew-wallace opened #32 "Width calculation is using the window width and not the parent element's width"
If I put a Truncate component in a div with padding, the generated elements are too long. Once I removed the padding, the generated elements fit to the appropriate number of lines.

It seems that you are calculating the appropriate width based on the width of the window and not the width of the Truncate component's parent. Consequently, if you calculate the width of the parent div instead of the w

[2017-02-21 10:03] PabloSichert commented on #32
The parent container width is read out using [`target.parentNode.getBoundingClientRect().width`](https://github.com/One-com/react-truncate/blob/master/src/Truncate.js#L130), not taking into account any padding.

You can work around that limitation using

[code]

---

It would be possible to add that functionality by reading [`window.getComputedStyle(target.parentNode).getPropertyValue('padding')`]

[2017-02-25 21:16] drew-wallace commented on #32
That did the trick. Thanks!

[2017-03-01 01:02] eric-adstage commented on #30
@PabloSichert I just ran into the letter-spacing issue -- but not sure how the workaround you posted would apply here. Can you provide just a little more implementation detail? Thanks!

[2017-03-01 07:28] eric-adstage opened #33 "Tests failing locally on fresh repo clone?"
Hey @PabloSichert,

Do you expect the current spec suite to pass locally? I'm getting several failures from a fresh clone of the repo.

I have fixes (pending comment/approval) for both the padding and font size issues, and I'd love to be able to write some specs to go along with them, but I need to start from a working test bed.

Any thoughts?

Screenshot:
![image](https://cloud.githubusercontent.

[2017-03-01 10:08] PabloSichert commented on #33
Oh, that looks bad indeed - yes, they pass on my machine (Ubuntu).

I suspect it could be due to different default system fonts, as I don't tell in the tests which one to use.

Could you share your
- OS
- node version
- npm version

to test my assumption?

---

And, thank you for the contribution!

[2017-03-01 11:09] capaj commented on #33
@eric-adstage they pass on my ubuntu as well-after I installed couple of OS dependencies:`sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++`

[code]

[2017-03-01 11:17] capaj opened #35 "do children allow array of nodes?"
is it okay to do this?
[code]

[2017-03-01 11:21] PabloSichert commented on #35
Yes, that's supposed to work.

By the docs:

children (example)
[code]

[2017-03-01 11:59] capaj commented on #35
Thanks, I failed to spot it since it's weirdly formatted in the table.

[2017-03-01 11:59] #35 closed

[2017-03-01 12:19] PabloSichert commented on #35
Agree on that, but unfortunately it's not possible to use the triple backticks inside a table with this flavor of Markdown.

[2017-03-01 15:50] PabloSichert commented on #33
@eric-adstage, could you check out branch [`fix/tests-font`](https://github.com/One-com/react-truncate/tree/fix/tests-font) locally to see if it passes on your machine?

Commit https://github.com/One-com/react-truncate/commit/d7dcdae40d82712aea5fa2f34f070bbf4b6cfa39 I landed on it might fix it.

[2017-03-01 16:59] eric-adstage commented on #33
Hey @PabloSichert,

[code]

I suspect you're onto something with the font issue, but unfortunately the build still fails with your latest branch, albeit 2 fewer spec failures. These, failing in my initial testing, now pass:

[code]

I thought that perhaps the `<div>` in the "mocked out 85px box" tests needed its font specified as well, but in my initial tests, nothing changed when I specified the

[2017-03-01 19:20] eric-adstage commented on #33
Just as a teaser, here's a div with both padding and letter-spacing:
![image](https://cloud.githubusercontent.com/assets/4295226/23476905/1e027c74-fe71-11e6-923f-7ce96e4f3def.png)

[2017-03-01 19:59] PabloSichert commented on #33
Looks good!

I'll try to get an actual OSX machine to better reason about what's going on with the test suite.

[2017-03-01 22:02] Mikeks81 opened #36 "Not compatible with IE9 and Safari6 when inside a Bootstrap Accordion"
So i know this is an edge case but these don't seem to play well OR i'm missing something.

accordion issue with ie9 and safari 6 and lower
using bootstrap-react OR plain old bootstrap and react-truncate
when using react-truncate inside of a bootstrap react accordion you get an error from truncate:
‘“SCRIPT5009: ‘requestAnimationFrame’ is undefined “
except when you remove the Accordion attr of de

[2017-03-01 22:07] PabloSichert commented on #36
Could you try including this [`requestAnimationFrame` polyfill](https://gist.github.com/paulirish/1579671#file-raf-js) before your bundle and see if that helps?

[2017-03-01 22:17] Mikeks81 commented on #36
The rAF polyfill did the trick!!! Thanks so much

[2017-03-01 22:19] PabloSichert commented on #36
You're welcome :D

[2017-03-01 22:19] #36 closed

[2017-03-24 14:36] cbosco commented on #8
@codejet @PabloSichert Thanks for pointing me to ellipsis.js

I made a simple react component if others are trying to use ellipsis.js within React

https://github.com/One-com/react-truncate/issues/8#issuecomment-262639343

There is one caveat - ellipsis.js works well with the exception of comment nodes; I put a PR into ellipsis.js: https://github.com/glinford/ellipsis.js/pull/7

Also, ellipsis.js

[2017-03-26 21:57] #33 closed

[2017-04-03 17:53] charlierudolph opened #41 "Usage with react-autoscale"
I am using this library with [react-auto-scale](https://github.com/tomat/react-auto-scale).

I am using this library inside an autoscaled div. When the window gets resized it appears the fact that its getting the [client bounding rectangle](https://github.com/One-com/react-truncate/blob/774782bd198f9aa73c28ee2fa3ba9ea9cb1b883d/src/Truncate.js#L130) causes it to mess the line-wrapping.

One easy so

[2017-04-13 19:21] rockymeza opened #43 "Webpackbin link is invalid"
![image](https://cloud.githubusercontent.com/assets/21784/25020550/d14fb398-205c-11e7-9f44-28f51a53af08.png)

[2017-04-20 12:46] PabloSichert commented on #43
Thanks for notifying!

Interesting that they just shut down old code without migrating it to their new service.

@gustavnikolaj could you update the link of this repo to https://www.webpackbin.com/bins/-KiANdakujgGkEW9wW1E?

[2017-04-21 08:05] gustavnikolaj commented on #43
@PabloSichert Done :-) The bin seems to be noninteractive - is there something we can do to change that?

Also, is there any permission issue that meant that you couldn't update the link yourself, or were you just on your phone? :-) If it's a GitHub permissions issue, I'll try to fix it.

[2017-05-12 14:47] PabloSichert commented on #43
What do you mean by noninteractive? I'm asking since the bin is supposed to toggle the text from truncated to full text (which works for me).

Was on the desktop version - there's no "edit" button for me, so looks like I'm missing a permission there.

[2017-05-12 17:14] gmatroskin opened #45 "prop-types module missing from peerDependencies"
Since `prop-types` was moved to `devDependencies` in 2.1.2, it should be added to `peerDependencies`.  I believe that may break compatibility with anyone running older versions of react (< 15.6).

[2017-05-14 20:39] PabloSichert commented on #45
Thanks, good point!

Added in 04b8617 and released with [v2.1.3](https://github.com/One-com/react-truncate/releases/tag/v2.1.3).

[2017-05-14 20:39] #45 closed

[2017-05-15 08:31] damien916 opened #46 "Error since 2.1.2 (this.context.measureText is not a function)"
Hello,
Since i upgrade from 2.1.1 to 2.1.2, i have this error:

[code]

Do you know the problem ?

Thank you

[2017-05-15 11:25] koox00 commented on #46
I've got the same error.

[code]

[2017-05-15 12:11] indapublic commented on #46
+1

[2017-05-15 14:23] #46 closed

[2017-05-15 14:31] PabloSichert commented on #46
Thanks for reporting!

Out on npm with [`v2.1.4`](https://github.com/One-com/react-truncate/releases/tag/v2.1.4).

[2017-05-15 15:12] damien916 commented on #46
Thanks you so much, you're so fast 👍

[2017-06-13 21:40] DocCaliban opened #48 "renderLine is manulipating the text"
Not sure why you are adding line breaks here, if my input text didn't contain any line breaks why add them at all?  In my solution it makes for sloppy presentation.  I pasted an example of what a 3 line text blob looks like.

I could fix this on a local branch, just wondering what the underlying reason was.

Lorem ipsum dolor sit amet, consectetur
adipiscing
elit, sed do eiusmod tempor incididunt

[2017-07-07 15:41] gamtiq opened #49 "Property to refresh/recalculate targetWidth"
In some cases it is necessary to re-render a truncate component although its existent props (children, ellipsis and lines) are not modified. For example, when size of a parent DOM-element (component) is changed without window resizing.
Now I use the following workaround to re-render the truncate component when necessary: `this.truncateRef.onResize();`
But it would be useful to have special propert

[2017-07-09 00:31] petermikitsh opened #50 "[Feature] Prefix support"
Hi, I'm using your library to implement three-lined Lists, which are part of the material design specification. They look like this:

<img src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B6Okdz75tqQsSHRDUllnV1kxSFE/components_lists_keylines_three8.png" alt="Drawing" width="300px" />

It would be nice if I could add a prefix, e.g., like "Ali Connors", in the first

[2017-07-11 22:26] soenkehahn opened #51 "Avoid omission of subsequent lines on long words"
This test-case demonstates the current behavior for words that are too long for one line: https://github.com/One-com/react-truncate/blob/master/test/Truncate.js#L227..L239.

We would have expected `react-truncate` to cut off long words and add ellipsis (and do this for every line that has too long words), e.g.:

[code]

Instead of omitting the last two lines.

But maybe this is not really possible

[2017-07-17 18:20] devwells commented on #28
Can you reopen this issue? The merge was rolled back because it caused an issue with something else.

see commit cfc73e74d84a7a25eef75e5b3a42a21dbc8e841e

[2017-07-20 06:42] juanezamudio commented on #48
I agree. Having issues with text just flowing from line to line. It seems every complete sentence for me that ends in a period causes a line break. Any way we could fix this to only line break when line length == container width?

[2017-07-20 06:55] juanezamudio commented on #48
Feel like [this issue](https://github.com/One-com/react-truncate/issues/16) is related to this one. @DocCaliban

[2017-07-20 15:39] PabloSichert commented on #48
The line breaks are set explicitly since this module is supposed to calculate the exact position where they should occur.

Did you look into the issue @juanezamudio linked? Do you use a custom font and made sure it is loaded before your first render?

[2017-07-20 15:39] #48 closed

[2017-07-20 15:42] PabloSichert commented on #50
Currently there is no active development for this module, but I would accept a pull request if you want to add this feature.

[2017-07-20 15:42] #50 closed

[2017-07-20 15:47] PabloSichert commented on #51
I haven't looked at the problem that way. Would it be possible for you to preprocess the text to shorten those words?

Can you help me understand your problem and elaborate on your use case, why are there words that long in the first place?

[2017-07-20 15:48] #43 closed

[2017-07-20 15:50] PabloSichert commented on #32
Related: https://github.com/One-com/react-truncate/pull/38

[2017-07-20 15:50] #32 closed

[2017-07-20 15:56] PabloSichert commented on #49
Your solution looks good enough to me, I don't think it justifies another property.

If you have strong feelings about this and want to implement that feature I'd accept a PR.

[2017-07-20 16:01] PabloSichert commented on #41
[code]

would that work for you?

[2017-07-20 19:10] PabloSichert commented on #28
@devwells I had looked over this PR too quickly: canvas text rendering (which is used to determine text width) neither supports letter spacing nor word spacing.

[2017-07-20 21:05] mikelambert opened #53 "Numlines vs height cutoffs"
Have you considered a fixed pixel height cutoff/fadeout for this? I'm asking because the resize/sizing detection seems broken for me (it inserts newlines based on where it thinks there is a wrap, and then the component then gets resized as part of page layout, and then causes it to be incorrectly wrapped.

Seems like it'd work a *lot* more seamlessly (without resize hacks, calculation of widths, e

[2017-07-31 12:43] JReinhold opened #54 "TypeError when using react-truncate in a jest-snapshot with react-test-renderer"
I get an error when trying to do snapshot-testing with components that has a `<Truncate>`element somewhere in the tree. The error is:

    TypeError: Cannot use 'in' operator to search for 'nodeType' in null

      at HTMLBodyElementImpl.appendChild (node_modules/jsdom/lib/jsdom/living/nodes/Node-impl.js:330:22)
      at HTMLBodyElement.appendChild (node_modules/jsdom/lib/jsdom/living/generated/No

[2017-08-07 14:56] richiemccoll commented on #54
I ran into this issue and fixed it by mocking the Truncate component.

`export default function ReactTruncate({ children }) {
  return (
    <span>{children}</span>
  );
}`

[2017-08-13 01:45] chucksellick opened #55 "Don"

[2017-08-13 01:52] chucksellick opened #56 "Don't call onTruncate during render"
Render method really shouldn't have side-effects. This actually causes errors - you can see this sometimes in react-show-more - it updates state when onTruncate is called, and changing state during render is an error because it could trigger yet another render. At first I was going to post this issue in react-show-more but after looking into it I think it's a react-truncate bug.

Simple solution m

[2017-08-19 00:42] soenkehahn commented on #51
The words are hyperlinks with a long path and some query parameters. Shortening is not nice, since then users can't actually copy the links and go to the linked website.

Since we stopped using `react-truncate` and put another work-around in place, I'm not really invested in this issue though. Feel free to close.

[2017-08-28 19:39] AndersDJohnson opened #57 "Support dangerouslySetInnerHTML"
Sometimes we have raw HTML and I'm not sure whether this component works when wrapped in another element, e.g., a `<span>`, to which we can apply our `dangerouslySetInnerHTML`.

Currently React gives a warning saying it cannot use this with `children`.

[2017-08-30 10:40] LeopoldLerch opened #58 "Padding of parent element ignored for width"
Hy
I have div around the truncate-Component. The div has nothing but a padding:5px. However, truncate obviously considers the same width as without padding and jumps into the next line. If I replace the padding with a "margin: 5px", Truncate works as ist should.

The parent of the div (the "grandparent" of the truncate) has also 5px padding. But that seems to be stay respected in regards of the wi

[2017-09-22 16:35] DanDeMicco opened #59 "letter-spacing not taken into account"
Hi, thanks for creating an maintaining this repo.

I am running into an issue where the truncating is not working as expected. If i specify there to be 2 lines to be shown, it will show something like

[code]

I did some debugging as I found it worked elsewhere, and found out removing letter-spacing makes it work correctly. Looking through the source, it indeed appears there is no mention of lette

[2017-09-25 17:00] kaizenberg opened #60 "TypeError: window.requestAnimationFrame is not a function"
Hi,

When I run **jest**, get this error:
`TypeError: window.requestAnimationFrame is not a function`

<img width="784" alt="screen shot 2017-09-25 at 2 00 07 pm" src="https://user-images.githubusercontent.com/3875593/30820832-8b13e812-a1f9-11e7-95cd-602909522d44.png">

My test library is **enzyme**. And **mount**.

Any idea of how solve this?

Thanks!

[2017-10-03 13:58] jordie23 commented on #60
Are you using React 16? The latest blog post mentions this:

From: https://reactjs.org/blog/2017/09/26/react-v16.0.html#javascript-environment-requirements

[2017-10-03 14:32] kaizenberg commented on #60
@jordie23 Thank for your response, for now, I cant test it. But when I come back to test, I'm going to the response you.

Thanks!

[2017-10-04 08:41] jordie23 opened #61 "requestAnimationFrame being called in an infinite loop when truncate elements not visible on the page"
We have a scenario where the Truncate component will potentially not be visible, and this is leading to `requestAnimationFrame` being called continuously.

In https://github.com/One-com/react-truncate/blob/master/src/Truncate.js#L133 on line 133 and following, it checks the width of the parent and if the width is zero, it will re-queue another check with `requestAnimationFrame`. As the parent or a

[2017-10-04 11:10] jordie23 opened #62 "Using string literals in ref attributes is deprecated"
Refs should be functions now, not strings.

I think this might be causing issues in React 16, can't seem to get Truncate to work after re-render. It errors and destroys the whole React DOM when you need it to re-render (initial render seems fine?). (In our case, when the window is resized past a breakpoint, we change the number of lines Truncate should wrap to, and then the whole thing dies)

More

[2017-10-06 09:56] mbrochh opened #63 "Problems with React 16.0"
First of all, thanks for this awesome component! Works like a charm for us.

It seems like it is not compatible with React 16.0, yet? I just naively tried to update my project and pages without Truncate just work, but pages with Truncate are giving me this error:

[code]

I assume this is because Truncate's peer-dependencies? Any chance to bump them to 16.0?

[2017-10-07 02:20] Karimit commented on #63
[The integrated example](https://github.com/One-com/react-truncate#integrated-example-for-toggling-read-more-text) stopped working after upgrading to React 16.0.
It breaks when clicking on the (more) link with this error:

[2017-10-09 07:03] jordie23 commented on #63
(I'll be making a fork and then pull request soon)

For me two things needed fixing for react 16. The issue I brought up here: https://github.com/One-com/react-truncate/issues/62

And wrapping the text on this line in a span tag: https://github.com/One-com/react-truncate/blob/master/src/Truncate.js#L319

[2017-10-09 19:11] PabloSichert commented on #63
Hey guys, thank you very much for reporting.

I haven't been active in this repo for a good amount of time, but I guess some maintenance is needed now and I don't want to be a roadblock here.

I'll look to devote some time now to fix the issues and highly appreciate code contributions.

[2017-10-10 02:26] jordie23 commented on #63
I'm currently working on a fork and will give some pull requests, but a lot of the testing stuff is out of date and updating them is taking longer than I thought.

[2017-10-10 07:57] jordie23 commented on #63
PR here https://github.com/One-com/react-truncate/pull/64

[2017-10-10 09:19] jordie23 commented on #62
PR here https://github.com/One-com/react-truncate/pull/64

[2017-10-10 17:33] #60 closed

[2017-10-10 17:38] PabloSichert commented on #56
The call is actually not called synchronously, but in a callback of `requestAnimationFrame`:

https://github.com/One-com/react-truncate/blob/master/src/Truncate.js#L113-L115

[2017-10-10 17:38] #55 closed

[2017-10-10 17:39] #41 closed

[2017-10-10 17:40] #51 closed

[2017-10-10 18:13] PabloSichert commented on #63
Updated the [playground](https://www.webpackbin.com/bins/-Kw6QnAkjmv1OD6Of-ZD) with `react@16` and `react-truncate@2.2`.

[2017-10-10 18:17] PabloSichert commented on #63
Thanks a lot to everyone involved!

[2017-10-10 18:17] #63 closed

[2017-10-10 18:18] PabloSichert commented on #62
Thanks!

[2017-10-10 18:18] #62 closed

[2017-10-10 18:24] PabloSichert commented on #54
Is that an acceptable workaround for you?

Otherwise, you might want to try again with `react-truncate@2.2` as the dependency on `JSDOM` got updated.

Please reopen if still relevant.

[2017-10-10 18:24] #54 closed

[2017-10-10 18:31] PabloSichert commented on #59
Hi, thanks for reporting this issue.

Unfortunately, the canvas [`context.font`](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/font) API (which this component relies on) does not support a letter spacing / word spacing argument. So there's no way to easily support that feature.

See https://github.com/One-com/react-truncate/issues/30#issuecomment-275107694 for similar c

[2017-10-10 18:31] #59 closed

[2017-10-10 20:24] jonricaurte commented on #63
@PabloSichert you need to update peer dependencies:

https://github.com/One-com/react-truncate/blob/master/package.json#L34

[2017-10-10 20:28] jonricaurte commented on #63
Looks like you removed it when it got squashed:

https://github.com/One-com/react-truncate/pull/65/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R35

vs

https://github.com/One-com/react-truncate/pull/64/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R35

[2017-10-10 20:57] jonricaurte commented on #63
Made a PR: https://github.com/One-com/react-truncate/pull/66/files

[2017-10-10 21:15] PabloSichert commented on #63
Hi @jonricaurte thanks for following up. I intentionally reverted the version bump after reading https://github.com/One-com/react-truncate/pull/64#issuecomment-335392053.

`react-truncate` is supposed to still work with `react@15.x`. For that reason `react-truncate` didn't get a major version bump.

Did I miss something?

[2017-10-10 21:29] jonricaurte commented on #63
@PabloSichert now it should work for both:

https://github.com/One-com/react-truncate/pull/66/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

An example of another repo using this:

https://github.com/eiriklv/react-masonry-component/blob/master/package.json#L39

[2017-10-10 21:48] jonricaurte commented on #63
Without the above changes, with react 16 you will always get the following in the console:

```warning "react-truncate@2.2.0" has incorrect peer dependency "react@<= 15.x.x".```

[2017-10-10 22:22] PabloSichert commented on #63
@jonricaurte I'm sorry, lol. I read that as `>=` instead of `<=`. You're absolutely right.

[2017-10-11 06:26] jordie23 commented on #61
PR https://github.com/One-com/react-truncate/pull/67

[2017-10-11 11:57] cverhelst opened #68 "Truncate target width is < 1px too wide in browser"
We can't be 100% certain, but for some reason the resulting width of the text is <1px wider than it's containing span.

We think it may have to do with parent node width precision. Chrome seems to use 3 decimals precision, IE 2 and this works out most of the time, but in a list of < 10 items we 1 instance where it's less than 1 px too wide. When we add the extra pixel, it seems to be fixed.

I thi

[2017-10-11 20:43] PabloSichert commented on #61
I think we could run into a problem here - for the first render the parent node is never present, since the mount order of react is `Child -> Parent`.

If we simply return the function at this point, the recalculation never happens.

[2017-10-11 20:57] PabloSichert commented on #68
Thanks for the input, that solution could be worth a shot. It's out with [`v2.2.2`](https://github.com/One-com/react-truncate/releases/tag/v2.2.2).

Let me know if it actually fixed your problem!

[2017-10-11 20:57] #68 closed

[2017-10-12 06:05] jordie23 commented on #61
While it was working fine for me, it's possible it was just good timing.

I've modified it to check the target element instead of its parent: https://github.com/One-com/react-truncate/pull/67

[2017-10-13 12:43] panrahk opened #69 "Bug with <span>text</span> in children"
Hello, i have this code for truncate

[code]

if text lines more than 5, Read more is displayed and after expand i have this result
![image](https://user-images.githubusercontent.com/7487843/31546680-fb0d7962-b02c-11e7-8cf7-1765ac70fca5.png)

But if text lines 1, Edited text dispalyed as text without <span class="">
![image](https://user-images.githubusercontent.com/7487843/31546712-2253f870-b02d-

[2017-10-16 11:09] theodorton opened #70 "Add a changelog"
See http://keepachangelog.com/en/0.3.0/ - I can help with a PR unless the author has a strong opinion about this.

[2017-10-16 11:20] PabloSichert commented on #70
No strong opinion here - I'd appreciate your contribution 🌞

[2017-10-30 14:05] KhaledSakr opened #73 "Allow the ellipsis to be places in other locations than the end of the line"
For example, if I put ellipsis={<span>...</span>}, the text will be truncated like this:
![image](https://user-images.githubusercontent.com/15192797/32174919-de8b91b8-bd8b-11e7-893e-e7347a42affb.png)
But, it would be nice if functionality is added to enable something like this:
![image](https://user-images.githubusercontent.com/15192797/32174981-161171de-bd8c-11e7-9ba4-69e8ef3e92bf.png)

[2017-10-30 22:04] jwohlfert23 opened #74 "Compatibility with React Router v4"
My application uses react router v4 for routing.  When I start on a page that is using react truncate to limit descriptions to 5 lines,  then click to a detail view, and then click back (or use back button), react truncate is messed up.  See below gif for visualization of this.

It's worth noting that if I trigger the resize event 100ms after it rerenders after clicking back, it fixes it.

![et8my

[2017-11-02 11:21] Param-Harrison commented on #57
I agree on this issue, we need to support HTML somehow along with the text.

[2017-11-04 12:35] #74 closed

[2017-11-06 12:07] lilles88 opened #75 "Wrong width calculation when using text-transform"
There is a bug in the width calculation logic that does not take `text-transform` CSS property into account. I have transformed my text to uppercase using this property, and the results are not what I expected, clearly because capital letters take up more space than normal ones.
As I observed the source code a bit, I think you should amend the styling query [at L148](https://github.com/One-com/rea

[2017-11-09 15:40] Sventenhaaf opened #76 "Call onTruncate when element is resized"
I want to truncate the text after a specific element is resized, instead of the browser window. Is that possible? If so, how should I build this?
Example below

![resizeel](https://user-images.githubusercontent.com/8081258/32614020-9c4e9bcc-c56c-11e7-87e0-589177c4e88f.gif)

[2017-11-11 18:37] PabloSichert commented on #76
You can assign a ref to the `<Truncate>` child component and call `this.truncate.onResize();` from the parent to refresh it. Also see https://github.com/One-com/react-truncate/issues/49

[2017-11-11 18:37] #76 closed

[2017-11-16 16:57] mirovelk opened #77 "Unwanted line breaks when using larger than body font size"
Hey, I came across an issue when using this component on some text with really large font (larger than body font size). Lines do not fit target element which causes line breaks.

I did some investigation and I found out that ellipsis that are being measured are actually located in document.body. This doesn't seem right, measured width is incorrect. Font and especially font-size can differ a lot at

[2017-11-20 13:08] mirovelk commented on #77
I've created a pull request here https://github.com/One-com/react-truncate/pull/78

[2017-11-20 22:25] taykcrane commented on #58
Any update here? I'm running into the same issue. Except, switching to margin doesn't work for me either...

[2017-11-21 12:44] cverhelst commented on #68
Hi, sorry for taking so long to come back on this but I believe it fixed our problem. I couldn't be sure for a while because we still saw the issue popping up from time to time but we now know it's related to that specific element not having a proper width in the first place, leaving a lot of the calculations up to chance depending on what got rendered first. As such, I now can't be 100% certain t

[2017-11-21 17:53] arovillard commented on #77
having same issue, hope this gets merged in soon

[2017-11-21 18:22] PabloSichert commented on #68
Np, thanks for getting back 😄

[2017-11-21 19:42] PabloSichert commented on #77
Thanks for the contribution - out on npm with [`v2.2.3`](https://github.com/One-com/react-truncate/releases/tag/v2.2.3)

[2017-11-21 19:42] #77 closed

[2017-11-28 07:39] bbthorntz commented on #58
Also experienced issue. Fixed by adding a parent `<div />` element too.

[2017-12-01 19:39] sbt9uc commented on #51
@PabloSichert Can this issue be re-opened? The current behavior described in the test case above seems counter-intuitive. If you have `Thereisasuperlongwordinthefirstline` on the first line I would expect the word to be broken up and continue onto the next line - so that the text that is rendered look would be :

[code]

I am trying to use `react-truncate` but this current behavior goes against my

[2017-12-07 10:35] bongione commented on #49
I didn't see this issue until after I had created such a property.
The rationale for having a separate property instead of using the ref is that I can keep all the DOM manipulation within the component, and as a client use it declaratively.

I called the property width, and it simply forces a recalculate size after update if the width property changed. I will create a PR for it.

[2017-12-14 20:11] samzhang111 opened #81 "Truncate link not visible to screenreaders"
Allowing a tab index to be set on the link would solve this issue. Even better, would be allowing in `linkProps` that are passed directly to the link.

[2017-12-14 20:56] samzhang111 commented on #81
Nvm I misunderstood how this worked

[2017-12-14 20:56] #81 closed

[2017-12-20 02:13] owcc opened #82 "Supports languages other than English"
Supports languages other than English, for example, Chinese?

[2018-01-04 01:23] nupurkapoor commented on #57
Did you try wrapping it around another element like `<p>` which is then using `dangerouslySetInnerHTML`? I am currently using `react-truncate` in a project, and this is how I have it setup:

`ExpandCollapse` is a component based on the **Integrated example for toggling "read more" text** section. I export it as a module and then use it in the components I need as

[code]
Works just fine.

[2018-01-04 01:30] nupurkapoor commented on #73
I too vote for this functionality instead of abruptly adding an ellipsis it would be nice to calculate it so its always at the end of a word

[2018-01-04 01:37] nupurkapoor opened #84 "Does not work with server side rendering"
We are using `react-truncate` in a couple different components and have realized that it is not supported during server side rendering, so for the initial page load there is a delay when the text shows up un-truncated then after load the text contracts and more/less buttons show up.

Is there any way to render `Truncate` on server side so there is no delay?

[2018-01-31 11:30] rpopovici commented on #82
you can try to apply "word-break: break-all" style on parent div

[2018-02-01 20:12] deepak90 commented on #84
I handled this by setting an initial text state to '...', then in componentDidMount(), set it to props.children. There will be a flash of content, but at least it's better than showing the entire text initially.
https://www.webpackbin.com/bins/-L4HvObkgDRAzFxBHYO8

[2018-02-01 20:20] deepak90 commented on #73
I had to modify truncate.js and add these lines after line 366
[code]
and pass in `sentenceBreakOnWord` to the React.createElement in place of `lastLineText`

[2018-02-14 15:17] jariz commented on #16
I wrote a (sorta) elegant solution to this that forces truncate to rerender itself upon font face load completion.
You'll need `recompose` (or write a hoc that renders a component itself) & `fontfaceonload`

[code]

Then, from the component that consumes the library:
[code]

(I have no idea why the setTimeout is needed, but it is)

[2018-02-15 18:54] alexandresebrao opened #86 "Position: fixed on ellipsis style is breaking my drag and drop"
I want to know if is possible to remove the position: fixed on ellipsis span so Chrome can render my preview on drag 'n' drop correctly, it works great on IE 11 thow

[2018-02-27 17:18] barmaglot92 opened #87 "Isn't working with react 16.2"
Hi, Do you sure that this lib works with react 16?
I'v got error:
[code]
if using <ReactTruncate>

[2018-02-28 07:57] #87 closed

[2018-03-12 08:21] shad-k opened #88 "Number of characters keeps reducing when scrolling on mobile"
The number of characters starts reducing when repeatedly scrolling up and down on mobile. Maybe because of window resize due to chrome mobile address bar collapsing on scroll. How can it be fixed?

[2018-03-25 14:03] jacklee814 commented on #76
@PabloSichert But if the text in the <Truncate> not a component?

[2018-03-26 13:43] PabloSichert commented on #76
@jacklee814 Not sure I understand, could you elaborate on what problem that would pose?

[2018-03-26 15:38] jacklee814 commented on #76
@PabloSichert like that ...

```<Truncate>{this.props.text}</Truncate>```

[2018-03-28 12:31] chacestew opened #89 "Forcing recalculation without a window resize"
Could we expose a way to signal Truncate to re-run `calcTargetWidth`?

My use case is that I have a container that can switch between grid and list layouts. The elements inside will change in width so any Truncates they contain need to recalculate, but because only the parent element is resizing, the window event listener has not fired to inform them.

I'm thinking a prop that could be passed to s

[2018-04-17 07:55] 5erban opened #90 "Wrong truncation with flexbox"
We're currently facing an issue. We have a responsive tile layout implemented with flexbox. Upon "violent" window resizes, such as maximize, there is a desync between flex wrapping and truncation. Truncate takes the with of the container prior to flex growth/shrinkage. Therefore, we often get strange truncation results. We've currently fixed this with an enhanced component using timeouts and calli

[2018-04-30 22:54] wtfdaemon commented on #89
Until we get this accepted, having to use the ugly solution of:
[code]

which doesn't work with pre IE-11 (fine for me, though).

[2018-05-02 10:03] JesusTheHun opened #91 "React Native compatbility"
Testing this package for the first time, casual use case :

`<Truncate lines={2} style={style.description}>{description}</Truncate>`

I though it was an error before I realized that React Native doesn't have a native "span" element. So you can't create it.
Can you add support for react native ?

[2018-05-30 19:10] nmagathan opened #92 "Determine how many lines are generated through a component"
I am importing this into a component, but I want to determine how many lines were generated to do some functionality on.
Is there a way to get this within my component?

[2018-06-04 13:31] NikolaMaster opened #93 "font-weight is ignoring by canvas in IE11"
Looks like font-weight is ignored by canvas in IE11 or i am missing something.
![react-truncate issue](https://user-images.githubusercontent.com/3939781/40920255-af56acb4-6814-11e8-8644-c4924f0987e2.png)

[2018-07-06 19:05] paramjitkaur commented on #8
But if I use Ellipsis.js it does not give me the ontruncate Function and just adds ellipsis.I need both read more/show less and te description needs to be  html :)

[2018-07-16 03:10] mbyrne00 commented on #57
@nupurkapoor - I'd b interested to hear if it retained your HTML. The example below renders and truncates, however all markup is lost (for example links)
[code]

[2018-07-26 10:11] chjiyun opened #94 "wrong with lines calculation when page load and window resize"
I set 'lines' to 3, but get 2 lines instead. Does this bug exist all the time？
[code]

[2018-07-27 18:08] bluce1017 commented on #86
+1 - I'm also experiencing this issue. The position: fixed is incompatible with drag preview functionality on chrome. The entire page drags.

[2018-08-10 12:19] moubi commented on #94
@chjiyun can you provide more info for the case to test?
For example what props are passed to `Truncate` or at least what is the **text** you want to truncate.

[2018-08-10 12:35] moubi commented on #92
@nmagathan if you pass `line` prop to `Truncate` with a value >= 1, then this should result in the number of lines before truncation. If no value is passed, then you should get one line.

I am not sure if this answers your question.

[2018-08-10 13:08] moubi commented on #89
Hey @wtfdaemon sorry for the late response, it's quite busy on our end.
Because of the lack of resources we can allocate right now, my suggestion is to stick to the solution you have.

Is it possible in your use case to actually pass different values for the lines `prop` (after some predictions) when switching between views?

[2018-08-10 13:14] moubi commented on #88
@shad-k could you post some screenshots of the case. Can you also confirm it is because of the resize event?

I suppose if this is the case then it is worth checking keyboard appearance as well.

[2018-08-10 13:19] moubi commented on #86
@alexandresebrao @bluce1017 my suggestion for now is to try to achieve that via your own css declaration instead.

[2018-08-10 13:40] moubi commented on #70
@theodorton are you still up for that?

[2018-08-10 13:44] moubi commented on #58
Guys let's use the suggested fix. Closing the issue.

[2018-08-10 13:44] #58 closed

[2018-08-10 13:47] moubi commented on #57
@AndersDJohnson @Param-Harrison does @nupurkapoor's suggestion solve the issue for you. I would say, if so then go for it.

[2018-08-10 13:47] #57 closed

[2018-08-10 14:12] moubi commented on #89
Ref: https://github.com/One-com/react-truncate/pull/80

[2018-08-13 17:40] enail131 commented on #93
Any update on this bug? Experiencing the same issue where it is wrapping incorrectly if there is a font-weight property.

[2018-08-14 00:43] PabloSichert commented on #49
You can now control the target size by changing the `width` property. It's out on npm with [`2.4.0`](https://github.com/One-com/react-truncate/releases/tag/v2.4.0).

Thank you for your contribution!

[2018-08-14 00:43] #49 closed

[2018-08-14 00:46] PabloSichert commented on #89
You can either do

[code]

or use the new `width` property to update the calculation.

Closing in favor of https://github.com/One-com/react-truncate/issues/49. Thanks for contributing!

[2018-08-14 00:46] #89 closed

[2018-08-14 01:25] PabloSichert commented on #61
I agree that the infinite loop is all but optimal - but how do you expect the component to behave once the parent gets visible?

We can either:
- not calculate the width, but fail to "wake it up" once it gets visible
- calculate the width indefinitely until it gets visible

This seems to be a pitfall no matter how you twist it.

---

By the way - did you ever profile this case? The loop is inside

[2018-08-14 01:40] PabloSichert commented on #90
The library already does the "hacky" thing by listening on the `resize` event and calling `calcTargetWidth`, just like you do.

You could improve it a bit by only calling it when the size of your parent container changed. Which is no easy task by it's own - but I guess that's a limitation of the abstraction.

Please have a look at the new `width` property in https://github.com/One-com/react-trunca

[2018-08-15 10:58] jalalat opened #96 "truncating text with wrong width"
I used lines = 3. It is truncating but at wrong width.
I have shown at the bottom what the whole text looks like.

<img width="960" alt="truncate issue" src="https://user-images.githubusercontent.com/11468630/44145149-57e9aa8e-a082-11e8-8c2d-241ef4ff6c39.png">

[2018-08-15 11:59] PabloSichert commented on #96
Did you have a look at the [known issues](https://github.com/One-com/react-truncate#known-issues)?

Could you create a [sandbox](https://codesandbox.io/s/new) where I can reproduce the results?

[2018-08-15 12:19] PabloSichert commented on #93
![image](https://user-images.githubusercontent.com/4450694/44147734-9246d2a2-a095-11e8-834a-1187b2cc992b.png)

If that piece of code is not working on the browser you are targeting, there is not much we can do (or would officially support).

You can try to file a bug to the browser vendor.

[2018-08-15 12:19] #93 closed

[2018-09-06 02:30] chjiyun commented on #94
@moubi   emmm, For example, i set lines of attribute to 3 or 4, but only get 2 lines of text all the time, as if this property is invalid, can you solve it?
[code]
[code]

[2018-09-07 17:54] JoshuaKGoldberg opened #97 "Allow passing in font style overrides?"
For text whose styles, particular font-size, can shift around, it can be necessary to put the `...` on the text assuming it's the largest size it'd ever be. This can be necessary for design in consistency and accessibility.

Example: if text starts at font-size: 20px but can go up to 22px, and it's desired to not change what text is displayed on the screen, react-truncate should be told to assume

[2018-09-07 18:20] JoshuaKGoldberg opened #98 "Compile command doesn't work on Windows"
[code]

`;` is not valid in Windows shell. `&&` would be.

[2018-09-08 10:17] PabloSichert commented on #98
That would be a bit of a problem, though:

[code]

Do you know any equivalent for `;` that would work here?

[2018-09-08 11:03] PabloSichert commented on #94
I have created a sandbox with your example (https://codesandbox.io/s/6yj42pmlww) but can't reproduce what you are describing.

<img width="1364" src="https://user-images.githubusercontent.com/4450694/45253421-44ad1f80-b367-11e8-9ee8-fe22cc814701.png">

<img width="1364" src="https://user-images.githubusercontent.com/4450694/45253424-50004b00-b367-11e8-95a5-5c78891993fe.png">

Please clarify if I m

[2018-09-08 21:38] joelmukuthu commented on #98
Maybe you can use https://www.npmjs.com/package/npm-run-all?

[2018-09-10 10:30] gustavnikolaj commented on #98
`&&` in bash means continue if the last command was successful (status code 0). `mkdir` will return with a non-zero exit code if the directory already exists. `mkdir -p` would allow you to swap over to using `&&`, but I'm not sure if mkdir will work at all.

The npm-run-all package wouldn't necessarily fix that problem, as I suppose it would also error out if the first part of a sequential command

[2018-09-10 10:32] gustavnikolaj commented on #98
[code]

[2018-09-10 10:37] gustavnikolaj commented on #98
There's a version of shelljs wrapped up for this exact use-case called `shx`: https://github.com/shelljs/shx

[code]

That will allow `mkdir`to work the sameway as it does on linux/macos on windows. It might be that powershell implements mkdir (it does implement a bunch of linux-like aliases) but I'd not bet money on it supporting -p.

The next problem we will run into is the environment variable.

[2018-09-10 10:48] gustavnikolaj commented on #98
I sent a PR to address the problem here.

@JoshuaKGoldberg if you get a chance, I would very much appreciate if you could try it out :-)

[2018-09-11 07:28] gustavnikolaj commented on #98
The PR referenced above passed review and is now merged to master. I'll close this issue for now, but feel free to open it again if necessary.

[2018-09-11 07:28] #98 closed

[2018-09-11 14:48] icd2k3 commented on #27
This is still an issue and fairly easy to repro:

[code]

![image](https://user-images.githubusercontent.com/1458959/45367835-ff6f3480-b596-11e8-9395-cb70360ec04c.png)

[2018-09-11 18:12] PabloSichert commented on #27
You must not call `setState` there unconditionally. Please have a look at https://github.com/One-com/react-truncate/commit/338707b8e97f8371683c604f7da41855644d0267

[2018-09-18 17:42] #96 closed

[2018-10-08 21:21] whatyoubendoing commented on #59
Chrome now supports letter-spacing in `v56` see CreateJS/EaselJS#872. Could be viable to provide a flag to expose the functionality or in 56=< choose to include line-height.

[2018-10-24 14:54] peterkle commented on #88
Confirming it happens on chrome mobile - I can replicate it on desktop web by resizing the window height to simulate the mobile address bar collapsing on scroll:

![screen shot 2018-10-24 at 10 46 04 am](https://user-images.githubusercontent.com/486241/47439803-020a9f80-d77b-11e8-9691-456f7b9ff0a7.png)
![screen shot 2018-10-24 at 10 46 28 am](https://user-images.githubusercontent.com/486241/474398

[2018-10-26 18:01] j10sanders opened #101 "Is it possible to specify the font size of the truncated text?"
I don't see a way to set a custom font size -- maybe I'm missing something.

I notice there is an open PR for something like this (https://github.com/One-com/react-truncate/pull/99), but it actually doesn't work for me either.  If I set the fontSize there, all that changes is the line spacing.

For example, if I use your ReadMore component, when I click "read more" it shows the text in the font si

[2018-10-26 20:57] j10sanders commented on #101
I was able to solve my issue by making a styled component so that the getComputedStyle method didn't get the <span>.  So I change all the spans to the styled component and just added inline styles

[2018-10-26 20:57] #101 closed

[2018-11-21 23:25] JoeDuncko opened #102 "Webpackbin link is down"
Hi! I was looking to check out some examples of this and it looks like the link for the repo (https://www.webpackbin.com/bins/-Kw6QnAkjmv1OD6Of-ZD) is down.

[2018-11-26 02:36] thomasbaldwin commented on #30
@PabloSichert did this workaround ever get added?
http://stackoverflow.com/a/40469992

[2018-11-26 03:05] PabloSichert commented on #30
I just tested some code:

[code]

It only affects the measuring in Chrome and only if you uncomment the second line, which means that it only works if the canvas is mounted to the DOM.

I wouldn't like to add code that is so dependent on the browser.

[2019-01-04 02:19] chjiyun commented on #94
@PabloSichert  i apply it in Row and Col Component, text spreads in three columns, and my version of react-truncate is 2.3.0

[2019-01-04 03:11] chjiyun commented on #94
@PabloSichert  i try to copy chinese text to your example on codesandbox, but i exactly get wrong result of  lines,  you can have a try.

[2019-01-21 22:40] afrankel-sfdo opened #103 "div invalid child of p"
### Issue

Can't use truncate when inside of a `<p>`

[code]

### Suggestion

Use `span` over `div`, or make it configurable as neither is valid in all use cases.

See similar issue from resize detector: https://github.com/maslianok/react-resize-detector/issues/48

[2019-01-24 12:46] redthree commented on #92
I think @nmagathan wants to get the number of lines that were generated for the input text. If I set `lines` to `2` but the input length fits within the width of the container in less than 2 lines, it wouldn't be truncated.

[2019-01-31 12:35] chetangawai opened #104 "Package does not work when build and used"
Getting error - TypeError: Cannot read property 'length' of undefined in Truncate.js

`  <Truncate
            lines={1}
            onTruncate={this.handleTruncate}

            {value}
          </Truncate>`

[2019-03-12 15:11] gerwinbrunner commented on #103
+1

[2019-03-21 12:09] arasmussen opened #105 "Does not take letter-spacing or word-spacing into account"
If there's any letter-spacing / word-spacing set on the text, react-truncate will not calculate properly, and it'll render more than `this.props.lines` lines.

Looks like you can set `letter-spacing` / `word-spacing` on the canvas itself https://stackoverflow.com/questions/8952909/letter-spacing-in-canvas-element

Note that the canvas MUST be added to the DOM in order for Chrome to take into accou

[2019-03-21 12:11] arasmussen commented on #105
Here's a working demo: https://jsfiddle.net/zpxh647v/1/

[2019-03-21 14:58] itwebtiger opened #106 "When page load, the full description flashes before getting resized"
When the page loads initially, it flashes the full description, causing the page to jump a bit.
![54663384-0bc2e400-4b1c-11e9-8273-a772c7ac6278](https://user-images.githubusercontent.com/32391682/54761285-1bacf780-4bf2-11e9-8135-911d4ad10e10.gif)

[2019-04-16 15:27] PabloSichert commented on #105
Duplicate of https://github.com/One-com/react-truncate/issues/59.

Further context: https://github.com/One-com/react-truncate/issues/30#issuecomment-441505843.

If you want to support that in your codebase, I suggest monkey-patching [`Truncate.prototype.measureWidth`](https://github.com/One-com/react-truncate/blob/176e733636a299d6d6c3d730d8f2c26c6580cf91/src/Truncate.js#L171)

[2019-04-16 15:27] #105 closed

[2019-04-16 16:01] arasmussen commented on #30
A better solution is to just manually calculate letter/word spacing in `measureWidth`.

[code]

It works in all browsers, not just Chrome.

[2019-04-16 16:26] arasmussen commented on #30
In theory, every browser should calculate letter/word spacing the same way.

Manually calculating letter/word spacing, rather than relying on the browser to calculate it via `canvasContext.measureText`, works in every browser.

[2019-04-19 17:02] PabloSichert commented on #30
I see your point, could be worth a shot.

Would you like to open a PR for that? I'd assist you in updating the test

[2019-04-19 17:05] arasmussen commented on #30
Will take a look this weekend!

[2019-05-16 15:38] bolonio commented on #106
Any news about it?

[2019-05-23 16:23] jesspoemape commented on #8
My text was an html string (ie. `"<p>Some text</p><br /> br /><p>Some more text</p>"`) and I was able to use this:
[code]
as a the child element and the html tags worked!

[2019-06-01 09:51] Ktchan825 opened #107 "Chinese text not supported"
This modules doesn't support language that doesn't separate word by space, e.g. Chinese, Japanese

[2019-06-13 08:03] ke1vin1993 commented on #107
Did you solve it？ @Ktchan825

[2019-06-13 10:06] Ktchan825 commented on #107
Hi @ke1vin1993, I monkey patch the modules with `patch-package` by myself.
here is my patch file

[code]

Then i use the component like `<Truncate separator={lang === "zh" ? "": " "}> {Chinese Text}<Truncate>`

[2019-07-11 09:33] Ktchan825 commented on #94
@chjiyun From my experience, Chinese is not supported well. this library uses " " as separator and split the line which is fine for English but not working for Chinese or other languages that don't separator word by space.

[2019-07-29 10:18] kashifshamaz21 commented on #8
@jesspoemape Can you share your sample code that you used with `children` prop set to a html string and found it working! I'm trying to use the same, but haven't got the html tags getting rendered yet.

[2019-07-30 06:22] kashifshamaz21 commented on #57
@nupurkapoor I tried using a wrapper element with **dangerouslySetInnerHTML** prop, but i'm still not able to get the html markup render. I still get the Truncate component rendering the markup as plain text! Can you show the code of your `ExpandCollapse` component? Appreciate your help.

[2019-08-28 11:14] lafeer opened #109 "<b> tags are stripped onTruncate"
When truncated <b> tags are stripped from render, but are rendered on expand

[2019-08-28 15:50] kud opened #110 "preserve newlines could be an option?"
related: https://github.com/devzonetech/react-show-more-text/issues/4

[2019-09-05 12:37] bipsBro opened #111 "Test failed with: Cannot set property 'font' of null"
I am trying to write a test for a component. when the value of `width` props is set, test get failed

// passed test

    it('renders without crashing', () => {
      const div = document.createElement('div');

      ReactDOM.render(
         <Truncate  ellipsis="...">
          Lorem ipsum dolor sitelit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </

[2019-10-23 13:16] XigeTime commented on #8
Hi @kashifshamaz21, if you're still looking to get HTML content working, try this:
`<Truncate lines={2} ellipsis={'...'}>
    <span dangerouslySetInnerHTML={{ __html: your_html } } />
</Truncate>`

Simply set the inner HTML on a child component rather than the Truncate component.

[2019-11-04 03:09] macsplan opened #112 "<br> tags being added to truncated lines"
Hi, any way of turning off the generation of <br> tags inside the truncated text?

[2019-11-06 14:34] omrimor opened #113 "3rd party device recognition is blocking usage"
When 3rd party device recognition is blocked, say by default in Brave browser,
the truncated text is not showing and the toggle button is missing - we see the long text version.

See code sample [here](https://codesandbox.io/s/react-truncate-example-jzj33)

[2019-12-10 16:18] Lemaro86 commented on #112
Yes, I have such issue too. And it break all view. I resolve it by br: display none, but it isn’t good. Need add space for after span - bad hack

[2020-01-28 04:52] guangteyangdd01 commented on #106
Do you know how to solve it？

[2020-02-12 16:50] fgblomqvist opened #116 "Maintenance status?"
Is this package still maintained? Seems like there are some decent PRs that would be useful to merge (e.g. https://github.com/One-com/react-truncate/pull/108).

If the package is looking for a maintainer it might be useful to put a note in the README at the top explaining the maintenance status (e.g. not actively maintained, looking for a maintainer, considered feature-complete etc.).

[2020-02-24 18:08] VimLeSai commented on #116
Hie @gustavnikolaj ,
I see that this repo need to be maintained and i'm rookie here in this opensource world maybe you can guild me to help this around. And let's see what we can do better here.

Here to learn and help and keeping great repo like this alive in this opensource world. please ping me here or contact me on desai.vimal250@gmail.com .

**Looking forword to contribute and make opensource

[2020-02-28 21:25] pablosichert commented on #116
Hey there,

I will take some time in the coming weeks to work on open issues.

I definitely won't add each and every feature, but maybe we can find a way to make the library more extensible for those who need to implement some specific behavior.

[2020-02-28 21:27] #116 closed

[2020-03-02 08:13] Jaikant commented on #112
+1 Same issue ...

[2020-03-11 04:01] longld-0832 opened #127 "ellipsis still display when text isn't too long"
I'm using this package to resolved issue IE 11 cant handle text-overflow: ellipsis. But on develop progress, i found an issue. The ellipsis still display although i set line truncate is more than 1 (in my case is 2) please check this img
![image](https://user-images.githubusercontent.com/49388139/76380999-e95a5400-6386-11ea-8079-e45b33934604.png)
and here is my code in this component
`<Text lg hea

[2020-03-16 11:52] longld-0832 commented on #127
i have found problem in here, look like react-truncate is fixed font && font size of text so i suggest just add prop fontText to react-truncate to handle this issue. Like this
`
export default class Truncate extends Component {
    static propTypes = {
      children: PropTypes.node,
      ellipsis: PropTypes.node,
      textFont: PropTypes.node,
      ...
    };

    static defaultProps = {

[2020-03-24 03:23] realfresh commented on #106
I assume the problem is how do you truncate text server side when the page dimensions are unknown?

[2020-03-29 19:19] educepter commented on #112
+1 Any update on this one yet?

[2020-04-13 21:54] kevinparkerson opened #128 "ComponentWillUnmount ellipsis removal fails in test suites and other situations"
In `ComponentWillUnmount`, `this.ellipsis` and `this.ellipsis.parentNode` need to be checked for before attempting removal so that it does not fail in test suites or other situations where it no longer exists. I will submit a PR for this simple fix shortly.

[2020-04-14 23:39] pablosichert commented on #128
I'll reopen this issue, since closing was done automatically, but no release has been published yet.

[2020-04-21 05:42] olaj commented on #111
Same here, any fix or workaround?

[2020-05-04 02:54] richardfontein commented on #111
The issue is that `jsdom` which is used by jest under the hood, does not support the canvas html element out of the box.

Installing the [jest-canvas-mock](https://www.npmjs.com/package/jest-canvas-mock) package will add the missing support.

[code]

Then create a new (or amend) ${rootDir}/src/setupTests.js with

[code]

This fixed the issue for me.

[2020-06-09 10:48] ugo-poly commented on #96
Hi,
I'm having the exact same issue.
I think it's not working because I'm using Trucate inside a Card material ui component.

[2020-06-18 13:25] rgevorgyan-vineti opened #131 "Cannot read property 'font' of undefined"
Hey there,
Thanks for the library, it's great.

However, I have this issue when testing the <Truncate /> component with jest and enzyme. When I use `width` prop the tests fail saying:
[code]

I've searched through the issues and someone suggested importing `jest-mock-canvas`, which I did, but it does not help.

The one thing I've found out is that the first test always passes and the other tests f

[2020-07-12 11:11] stofancy commented on #112
+ 1 same issue.

[2020-07-16 01:23] dwjohnston opened #132 "In jest tests - the ellipsis always show, regardless of whether it truncates."
I have a component like this:

[code]

Basically it's a chip with max width, but if the label is too long then we truncate the text, but show the full label in a tooltip.

This is working fine in the browser, but I'm getting weird behaviour when trying to write tests for this.

I have jest/enzyme tests that look like this:

[code]

But the Chip text will always display as `example 1...`. This rega

[2020-08-03 14:39] BrodaNoel opened #135 "Ellipsis not shown when text is only one word"
Hello!
I have a div where I'm showing a file name. The file name is something like `asdsdfasdfasdfasdfasdfasdfasdfasdfasdf.pdf`.
The text get cut with no showing the ellipsis.

[2020-08-05 00:10] bjcancin commented on #16
Hi. I solve this creating a `ReadMore` (as in the examples) using the `document.fonts.ready` html event. I use the `ready` state to catch when the fonts are already loaded and to set `expanded=false`.

[code]

[2020-08-13 16:42] Sindr0me opened #137 "Truncate get error on 'width' prop when i change the tab"
Hi, im working with iframe in tabs in my app. Every iframe is a separately react app. So I have a problem that when I leave from my tab with truncates components like that to another tab
[code]
My app still works and has crashed with an error like this when the component has rerendered with newly uploaded data

_Uncaught
Exception { name: "NS_ERROR_FAILURE", message: "", result: 2147500037, filena

[2020-08-14 15:00] rodrigoBerlochi commented on #132
I had the same problem. I'm using Jest/React Testing Library. And other truncate libraries have the same issue. We couldn't find yet a proper way to test components using truncation.

[2020-08-14 15:22] rodrigoBerlochi commented on #112
+1 here

[2020-08-14 22:24] andrew-polk commented on #8
This package works for me: https://www.npmjs.com/package/react-truncate-markup

[2020-08-20 14:21] lincolncooper commented on #8
Unfortunately [react-truncate-markup](https://www.npmjs.com/package/react-truncate-markup) does not support React components, only true DOM elements, which I found a problem as the markup I want to display is created using a number of nested React components. I wish/hope there is a better way, but I found this "hack" to make it work based on XigeTime's solution above:

[code]

PLEASE tell me there

[2020-08-25 19:27] voltmer1 commented on #90
[pablosichert ](https://github.com/pablosichert), I have a query using pnp/sp/search, returning multiple items to paginated pages and there are incorrect breaks in the copy as others are seeing. So, I've tried using :

`setTimeout(() => {
      this._truncateRefs.forEach((ref: any) => {
        ref.onResize();
      });
    }, 1);`

with no results. You mention using the "width" property, but I do

[2020-09-30 07:29] sharanya5 commented on #112
@pablosichert Same issue. Any updates on this?

[2020-10-01 10:54] kis opened #138 "Wrong lines calculation when width specified and having responsive container"
When container is responsive and it's size depends on window size and we specify truncate text with lines and width params we have wrong lines calculation (having more or less actual lines than we specified)

[2020-10-01 11:07] lolochka commented on #138
I have also faced this problem for <Truncate /> text inside a responsive element (there should be 3 lines)
<img width="323" alt="Screenshot 2020-10-01 at 14 05 43" src="https://user-images.githubusercontent.com/7581173/94801898-6581bb00-03ef-11eb-9241-7bfc55a3301d.png">

[2020-10-01 11:13] arturTsal commented on #138
I have faced the same issue, does anybody know any solution or hack maybe?

[2020-10-06 15:38] pawelangelow commented on #138
I'm having a similar problem. As far as I can tell it's due to the different fonts. In my case, I'm using`open-sans`. My guess:

1. Initially the page is loading with some default font
2. The component is rendered, so the width of the parent is calculated
3. Fonts are loaded, the content's width is changing, but there's nobody to tell the component to re-render.
4. I have a row on the next line, a

[2020-11-25 11:28] superpav opened #139 "React v17 support"
Are there any plans to support [React v17](https://reactjs.org/blog/2020/10/20/react-v17.html)?

[2020-11-25 16:18] pablosichert commented on #139
Yes, that should be possible. Could you try it out with React 17 and report back if it gives any errors?

[2020-11-26 10:28] superpav commented on #139
It seems to be working fine, I have tried to install it to a repo with React 17 and there were no runtime issues. I'll try to submit a PR in order to resolve peer dependency warning

[2020-12-21 13:15] shpindler commented on #27
In my case this is still memory leak:

[code]

Does adding condition really help you?

[2020-12-26 19:16] #139 closed

[2020-12-31 11:15] james-jenkinson opened #141 "Last line length changes when parent component set to display none"
When the text to be truncated is part of a component who's display property is set to none, on re-appearing the length of the last line changes, often causing a new line.

Example can be seen here: https://codepen.io/jajenkinson/pen/PoGQRRb?editors=0110

# Steps to reproduce
* Hover of the card
* Confirm the text is properly truncated to three lines
* Hovering multiple times the text will remain c

[2021-01-26 16:23] gat-bryszard commented on #90
We have a similar problem. `react-truncate` is wrongly calculating the width of elements that are in a flexbox and are using `flex-grow: 1`. The calculated width value is from before the flex grow is applied.

[2021-02-04 09:53] Kazimirkas opened #142 "Jest: Can not test onTruncate method"
The following test fails with 0 value. Can you please help and mention, what am I doing wrong?

[code]

[2021-04-14 21:22] Chase-Dickerson opened #144 "Update to React 17"
Request to update library to use latest React v17. This will necessitate a few other updated libraries as well, namely react-dom and react-test-renderer. Thanks!

Current version used by react-truncate (see [package.json](https://github.com/pablosichert/react-truncate/blob/master/package.json#L60)):
`"react": "^16.14.0"`

Proposed version:
`"react": "^17.0.0"`

[2021-04-28 22:21] epidemian commented on #128
@pablosichert i stumbled upon this same issue when using this component on a Storyshot/Jest test. The stacktrace has a bunch of JSDOM on it, so maybe it's due to a difference between that and real browsers.

<details>
<summary>Deep unhelpful stacktrace</summary>

[code]

</details>

I'll probably pin my dependency to current `master` to get the fix, but a patch release with that fix would be aweso

[2021-04-28 22:40] epidemian commented on #128
Talked too soon. Couldn't pin the dependency to a github commit because it's not a release and so it does not include the `lib/` directory and the main entry point fails :pensive:

[2021-04-29 04:41] epidemian commented on #128
I monkey-patching the Truncate library momentarily until a fix is released, to stop these error on the test suite. If it might help others, here's the terribly ugly code i used:

[code]

[2021-05-02 14:52] michaelrodov commented on #131
+1
Same here, cannot properly test components that use <Truncate>

[2021-05-03 16:59] sharanya5 commented on #131
+1
Same here except that tests pass when run locally, but failing with the same error when the tests are through CI/CD.

[2021-07-13 19:13] brianwachira commented on #144
I am currently facing installation errors because of this. Did you get an alternative that can be used in react 17?

[2021-07-13 22:43] Chase-Dickerson commented on #144
Our alternative for the time being is [using CSS to perform truncation](https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/). We have an internal components library our company uses that requires react-truncate, and we are opting _not_ to use our internal library right now because of the React v16 dependency.

[2021-07-23 10:52] justbitdev opened #147 "deleted"

[2021-07-24 10:42] #147 closed, assigned to nobody

[2021-07-24 11:09] yesh opened #148 "wrong width of span on load"
Hi,
I don't know if I am implementing the component in a wrong way or if it is a bug.

I'm trying to truncate plain text in a gatsby project:

the code is
[code]

where the input text is:

[code]

and on page load the result looks like this:

![Screenshot 2021-07-23 at 12 24 06](https://user-images.githubusercontent.com/85866227/126771860-d0ddb11b-a008-484c-af5e-aa52564d8973.png)

then if I resize

[2021-08-03 05:07] WORLDI commented on #131
+1

[2021-08-04 10:22] WORLDI commented on #142
I have the same problem too.

[2021-08-04 10:58] WORLDI commented on #142
how to resolve the problem?

[2021-08-06 03:42] WORLDI commented on #142
I found the way to test onTruncate, just add
`act(() => {
      jest.advanceTimersByTime(100);
    });`
to your use case.

[2021-09-09 14:06] AM-77 commented on #144
having the same installation problem here.

@Chase-Dickerson thanks for the suggested alternative solution.

[2021-11-29 16:05] prince272 commented on #144
Me too

[2021-12-14 18:10] e0ipso commented on #128
I am running into this as well. Any chance we can get a release that includes this fix? Many thanks for your work on this project :pray:

[2021-12-21 14:54] no23reason opened #151 "New release"
There are [quite a few changes](https://github.com/pablosichert/react-truncate/compare/v2.4.0...master) in master that are not yet released to npm (most notably React 17 in peer dependencies).

Can we please get a new release to the npm so that these changes are available for use? Is there anything I can do to help?

[2022-01-02 00:13] UndeadBaneGitHub commented on #112
Still the case, would love an update

[2022-01-19 19:57] natarius opened #153 "React 18 support"
React-truncate seem to crash the app when using React v18 RC

<img width="691" alt="Screen Shot 2022-01-19 at 11 56 59 AM" src="https://user-images.githubusercontent.com/607331/150204391-ce22780e-9277-45ad-91a5-d5b5e933f65f.png">

Is there any plans to support React 18?

[2022-06-07 08:57] vsubbotskyy commented on #144
seems like this library is *asleep*. Had to use _--force_ on _npm install_

[2022-06-09 18:30] vsubbotskyy commented on #151
Yes, please!

[2022-06-28 03:55] mansisindhu opened #155 "Can't add as dependency in React 18"
<img width="751" alt="Screenshot 2022-06-28 at 9 22 58 AM" src="https://user-images.githubusercontent.com/76626095/176088489-574b760b-c708-4fd2-86db-d95c828a67ce.png">

[2022-06-28 14:25] nicholasjpanella commented on #155
having the same issue

[2022-07-11 07:45] ismaellastlevel commented on #155
same

[2022-08-24 08:30] stefumies commented on #155
Same here, any movement on this?

[2022-09-27 12:17] LazAustin commented on #155
Same here.

[2022-10-24 12:41] underherzen commented on #155
This package doesn't support even react 17. You should consider using another (or self-written) tool.

[2022-10-24 12:49] underherzen commented on #155
or you can install with --legacy-peers flag

[2022-11-30 09:40] MaxKoldun commented on #155
does not work for me too, does anyone knows an alternative?